
a:visited { color: black; }
a{ text-decoration: none }
body
{
	margin: 0px;
	padding: 0px;
}
html
{
	height: 100%;
}

.Button
{
	display: flex;
  justify-content: center;
  align-items: center;
	width: 100%;
	height: 50px;

	&:hover
	{
		a
		{
			color: red;
		}
	}
}


.LoadingAnimation
{
	--message: "Analyzing";
}

.LoadingAnimation:after
{
	animation-name: ellipsis;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	content: var(--message);
}

@keyframes ellipsis
{
	0%   { content: var(--message);        }
	20%  { content: var(--message) ".";    }
	40%  { content: var(--message) "..";   }
	60%  { content: var(--message) "...";  }
	80%  { content: var(--message) "...."; }
	100% { content: var(--message);        }
}

@keyframes spinner
{
	0%   { content: var(--message) " |"; }
	25%  { content: var(--message) " /"; }
	50%  { content: var(--message) " -"; }
	75%  { content: var(--message) " \\";}
	100% { content: var(--message) " |"; }
}
